<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">

<listeners>
		<listener class-name="com.pom.ExtentReportListener.TestListener" />
	</listeners>
	
  <test name="Test">
    <classes>
      <class name="com.pom.tests.AssessmentTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
